@model StudenteViewModel
<h1>Dettagli Studente: @Model.Nome @Model.Cognome</h1>
<p>Data di nascita: @Model.DataNascita.ToShortDateString()</p>
<p>Email: @Model.Email</p>
<p>Titolo di studio: @Model.TitoloStudio</p>
